<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p" 
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:mvc="http://www.springframework.org/schema/mvc" 
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd 
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.3.xsd 
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd"> 
      
    <context:component-scan base-package="patentweb.config,patentweb.util,patentweb.controller"></context:component-scan>  
   
    <mvc:default-servlet-handler/>
    <mvc:interceptors>
    	<mvc:interceptor>
    		<mvc:mapping path="/file/**" ></mvc:mapping>
<!--    		静态资源不拦-->
    		<mvc:exclude-mapping path="/static/**" ></mvc:exclude-mapping>
    		<mvc:exclude-mapping path="/fonts/**" ></mvc:exclude-mapping>
    		<mvc:exclude-mapping path="/less/**" ></mvc:exclude-mapping>
    		<mvc:exclude-mapping path="/scss/**" ></mvc:exclude-mapping>
    		<bean class="patentweb.Interceptor.FileUploadInterceptor"></bean>
    	</mvc:interceptor>
    	<mvc:interceptor>
    		<mvc:mapping path="/**"  ></mvc:mapping>
    		<mvc:exclude-mapping path="/static/**" ></mvc:exclude-mapping>
    		<mvc:exclude-mapping path="/fonts/**" ></mvc:exclude-mapping>
    		<mvc:exclude-mapping path="/less/**" ></mvc:exclude-mapping>
    		<mvc:exclude-mapping path="/scss/**" ></mvc:exclude-mapping>
    		<bean class="patentweb.Interceptor.LoginInterceptor"></bean>
    	</mvc:interceptor>
    </mvc:interceptors>
    <mvc:annotation-driven>
     <mvc:message-converters>
      <bean class="org.springframework.http.converter.StringHttpMessageConverter">
       <constructor-arg value="UTF-8"/>
      </bean>
      <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
      	<property name="supportedMediaTypes" >
      		<list>
      			<value>text/html;charset=UTF-8</value>
      			<value>application/json;charset=UTF-8</value>
      		</list>
      	</property>
      </bean>
     </mvc:message-converters>
    </mvc:annotation-driven>
   <mvc:resources location="/static/" mapping="/static/**" /> 
   <mvc:resources location="/fonts/" mapping="/fonts/**" /> 
   <mvc:resources location="/less/" mapping="/less/**" /> 
   <mvc:resources location="/scss/" mapping="/scss/**" /> 		
</beans>        